<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather-color.webp">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/ed-oneill1.gif">
    </div>

    {{>footer}}
</body>


</html>